@use "./utility/variables" as *;

html {
  color: $text;
  background-color: $background;
  font-family: "Inter", "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

.compass {
  height: 100vh;
  width: 40rem;
  left: calc(50% - 20rem);
  position: fixed;
  z-index: -1;
}

.page {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    justify-content: space-between;
    align-items: center;
  }
}
