@use "../../../../sass/utility/variables" as *;

.turn-actions {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-weight: 600;

  background-color: $red_transparent;
  clip-path: polygon(
    0 0,
    calc(100% - 0.75rem) 0,
    100% 0.75rem,
    100% 100%,
    0 100%
  );

  .turn-actions-title {
    font-weight: 700;
    font-size: 1rem;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    color: white;

    background-color: $red_primary;
    clip-path: $topright_corner_header;
  }

  .turn-action {
    display: flex;
    flex-direction: column;
    padding: 0rem 0.5rem 0.5rem 0.5rem;
    p {
      margin-bottom: 0.25rem;
    }
    .turn-action-options {
      display: flex;
      p {
        font-weight: 700;
        font-size: 1.5rem;
        width: 1rem; // equalize width so they grow no matter the flex size
        color: white;
        background-color: $orange_primary;
        padding: 0.25rem 1.2rem 0.25rem 0.25rem;
        flex-grow: 1;

        clip-path: $topright_corner_header;

        &.move {
          width: calc(50% - 3rem);
          flex-grow: 0;
          background-color: $red_primary;
        }

        &.full {
          background-color: $teal_primary;
        }

        &.heat {
          background-color: transparent;
          color: $red_primary;
          position: relative;
          clip-path: none;

          &::before {
            content: "";
            position: absolute;
            inset: 0;
            background: $red_primary;
            clip-path: $topright_corner_header_border;
          }
        }
      }

      span {
        margin: 0.8rem 0.25rem;
        color: $red_primary;
      }

      .arrows {
        background: $red_primary;
        position: relative;
        width: 0.3rem;
        margin: 0 0.7rem 0 0;

        &.end {
          height: calc(50% - 0.25rem);
        }

        &.middle {
          height: 100%;
        }
      }
      .arrows:after {
        background: $red_primary;
        content: "";
        height: 0.3rem;
        border-radius: 0 0 0 8px;
        left: 0;
        position: absolute;
        top: 1rem;
        width: 0.8rem;
      }

      .arrows-margin {
        width: 1rem;
      }
    }
  }
}
