$text: #231f20;
$background: #f4f4f4;
$background_transparent: rgba(244, 244, 244, 0.5);

$hex: #e0e3e6;

$red_primary: #c22026;
$red_0: #f9e9e9;
$red_1: #e49da0;
$red_2: #e1484c;
$red_3: #900002;
$red_4: #720003;
$red_5: #450304;
$red_6: #350001;
$red_transparent: rgba(249, 233, 233, 0.5);

$teal_primary: #0b7675;
$teal_1: #e7f1f1;
$teal_transparent: rgba(231, 241, 241, 0.5);

$brown_primary: #ad4525;
$brown_1: #f5e9e6;
$brown_transparent: rgba(245, 233, 230, 0.5);

$green_primary: #68bd45;
$green_1: #e1f2da;
$green_transparent: rgba(225, 242, 218, 0.5);

$topright_corner_header: polygon(
  0 0,
  calc(100% - 0.75rem) 0,
  100% 0.75rem,
  100% 100%,
  0 100%
);

$topright_corner_header_border: polygon(
  0 0,
  calc(100% - 0.8rem) 0,
  100% 0.8rem,
  100% 100%,
  0 100%,
  0 0,
  0.2rem 0.2rem,
  0.2rem calc(100% - 0.2rem),
  calc(100% - 0.2rem) calc(100% - 0.2rem),
  calc(100% - 0.2rem) calc(0.8rem + 0.08rem),
  calc(100% - 0.8rem - 0.08rem) 0.2rem,
  0.2rem 0.2rem
);
